@import "../../styles/media";

.form-container {
  margin-top: 20px;
}

input {
  margin: 5px;
  padding: 5px;
  border: 1px solid gray;
  @include phone-screen {
    width: 45%;
  }
  @include tablet-screen {
    width: 30%;
  }
  @include desktop-screen {
    width: 20%;
  }
  @include ultrawide-screen {
    width: 15%;
  }
}

textarea {
  resize: none;
  padding: 5px;
  border: 1px solid gray;
  @include phone-screen {
    width: 50%;
  }
  @include tablet-screen {
    width: 35%;
  }
  @include desktop-screen {
    width: 25%;
  }
  @include ultrawide-screen {
    width: 20%;
  }
}

.save-btn {
  background-color: #00a9c7;
}
